* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: black;
    background-image: url(descarga.jpg);
    background-repeat: no-repeat;
    background-size: 87%;
    background-position:center;
    animation: moverFondo 3s ease-in-out infinite alternate;
    display: flex;
    min-height: 100vh;
}
@keyframes moverFondo {
    0% {
        background-position: center 45%;
    }
    50% {
        background-position: center 55%;
    }
    100% {
        background-position: center 45%;
    }
}
.container {
    position: center;
    padding-top: 30px;
    height: 30%;
    width: 76%;
    max-width: 700px;
    transform: translateY(100px);
    margin: 0 auto;
    background-color: rgba(30,30,30,20%);
    backdrop-filter: blur(10px);
    color:#ffffff;
    font-family: cursive;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: rgba(30,30,30,20%);
    font-family: gill sans;
    border-radius: 5px;
    color: #ffc4ff;
    cursor: pointer;
}